@charset "UTF-8";

@font-face {
  font-family: "FuturaPT-Demi";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Bold";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-ExtraBold";
  font-display: swap;
  src: url("../fonts/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Book";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Light";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Medium";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Heavy";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
section,
aside {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Segoe WP", "Helvetica Neue", "Lucida Grande", Verdana, Tahoma, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Segoe WP", "Helvetica Neue", "Lucida Grande", Verdana, Tahoma, Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1343px;
  margin: 0 auto;
  width: 100%;
}

body {
  color: #292D32;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  background: #FAFBFF;
}

body a {
  color: inherit;
}

body a:hover {
  text-decoration: underline;
}

body button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

svg.w-24 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  height: 24px;
  display: block;
}

img,
video {
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-7 {
  margin-top: 7px;
}

.white {
  color: #FFF;
}

.black {
  color: #000;
}

.gray-100 {
  color: #757575;
}

.gray-200 {
  color: #B5B7C0;
}

.darkGray {
  color: #838383;
}

.green {
  color: #16C098;
}

.fw-400 {
  font-weight: 400;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout__aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 306px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background-color: #FFF;
  padding: 36px 28px;
}

.layout__content {
  margin-left: 306px;
  padding: 41px 71px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.logo:hover {
  text-decoration: none;
}

.logo__image {
  width: 37px;
  height: 37px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
}

.logo__text {
  margin: 0 4px 0 8px;
}

.logo__version {
  padding-bottom: 6px;
}

.navigation {
  padding-top: 52px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation li {
  margin-bottom: 18px;
}

.navigation li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
  color: #9197B3;
}

.navigation li a:hover {
  background-color: #f1f0f0;
  text-decoration: none;
}

.navigation li a.active {
  background-color: #5932EA;
  text-decoration: none;
}

.navigation li a.active svg > path {
  stroke: #fff;
}

.navigation li a.active span {
  color: #FFF;
}

.navigation__text {
  padding-left: 14px;
}

.manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manager__text {
  padding-left: 12px;
}

.manager img {
  border-radius: 99px;
}

.content {
  border-radius: 30px;
  background-color: #FFF;
  margin-top: 51px;
  -webkit-filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
          filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 53px 24px 38px;
}

.content__table {
  padding: 0 40px;
}

.content__footer {
  padding: 30px 40px 40px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: #B5B7C0;
  font-weight: 500;
  padding: 14px 0;
  text-align: left;
}

.table td {
  padding: 20px 0;
}

.table tr {
  position: relative;
}

.table thead tr:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #EEE;
}

.table td,
.table th {
  border-bottom: 1px solid #EEE;
}

.table__status {
  padding-left: 14px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination li {
  padding: 0 6px;
}

.pagination li a {
  display: inline-block;
  padding: 6px 2px;
  min-width: 26px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.12px;
  border: 1px solid #EEE;
  background: #F5F5F5;
  color: #404B52;
}

.pagination li a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.pagination li a.active {
  color: #FFF;
  background-color: #5932EA;
  border-color: #5932EA;
}

.label {
  padding: 4px 12px;
  width: 80px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.label__primary {
  color: #008767;
  border: 1px solid #00B087;
  background: rgba(22, 192, 152, 0.38);
}

.label__secondary {
  color: #DF0404;
  border: 1px solid #DF0404;
  background: #FFC5C5;
}

.inputText {
  position: relative;
}

.inputText input {
  width: 216px;
  height: 38px;
  border-radius: 10px;
  background: #F9FBFF;
  padding: 10px 10px 10px 40px;
}

.inputText:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%237E7E7E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%237E7E7E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.text-big {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.text-small {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.text-medium {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
}

.text-footnote {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.text-title {
  font-size: 24px;
  font-weight: 500;
}

.lg-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#83CCFD), to(#45A0E6));
  background: -o-linear-gradient(top, #83CCFD 0%, #45A0E6 100%);
  background: linear-gradient(180deg, #83CCFD 0%, #45A0E6 100%);
}

.lg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF808A), to(#FF3344));
  background: -o-linear-gradient(top, #FF808A 0%, #FF3344 100%);
  background: linear-gradient(180deg, #FF808A 0%, #FF3344 100%);
}

.lg-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE37E), to(#F0BC00));
  background: -o-linear-gradient(top, #FFE37E 0%, #F0BC00 100%);
  background: linear-gradient(180deg, #FFE37E 0%, #F0BC00 100%);
}

.lg-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#88E8E6), to(#3CC2BD));
  background: -o-linear-gradient(top, #88E8E6 0%, #3CC2BD 100%);
  background: linear-gradient(180deg, #88E8E6 0%, #3CC2BD 100%);
}

.lg-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#D766FF), to(#9600CC));
  background: -o-linear-gradient(top, #D766FF 0%, #9600CC 100%);
  background: linear-gradient(180deg, #D766FF 0%, #9600CC 100%);
}

.lg-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#1AD7FF), to(#00A5E6));
  background: -o-linear-gradient(top, #1AD7FF 0%, #00A5E6 100%);
  background: linear-gradient(180deg, #1AD7FF 0%, #00A5E6 100%);
}

.lg-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEAC75), to(#D59165));
  background: -o-linear-gradient(top, #EEAC75 0%, #D59165 100%);
  background: linear-gradient(180deg, #EEAC75 0%, #D59165 100%);
}

.lg-7 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7790), to(#F73558));
  background: -o-linear-gradient(top, #FF7790 0%, #F73558 100%);
  background: linear-gradient(180deg, #FF7790 0%, #F73558 100%);
}

.lg-8 {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFDA7A), to(#F1A64D));
  background: -o-linear-gradient(top, #FFDA7A 0%, #F1A64D 100%);
  background: linear-gradient(180deg, #FFDA7A 0%, #F1A64D 100%);
}

.lg-9 {
  background: -webkit-gradient(linear, left top, left bottom, from(#64FFB5), to(#00A656));
  background: -o-linear-gradient(top, #64FFB5 0%, #00A656 100%);
  background: linear-gradient(180deg, #64FFB5 0%, #00A656 100%);
}

@media (max-width: 767.98px) {
  .wrapper {
    overflow: hidden;
    /* Выше 768 мы его убираем чтобы сработал 
position sticky у блока .stickyBlock */
  }
}